@page
@model MB.Presentation.MVCCore.Areas.Administrator.Pages.ArticleManagement.ListModel
@{
}

<div class="card card-primary card-outline shadow-sm p-3 mb-4 bg-white rounded">
    <div class="card-header d-flex justify-content-between align-items-center py-2">
        <h3 class="card-title mb-0 text-primary"> Article List</h3>
        <div class="float-right">
            <a class="btn btn-success" asp-page="./Create" asp-area="Administrator">Add New</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead class="bg-light">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Article Categury</th>
                        <th scope="col" class="text-center">Status</th>
                        <th scope="col">Creation Date</th>
                        <th class="text-center">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Articles == null || !Model.Articles.Any())
                    {
                        <tr>
                            <td colspan="6" class="text-center text-muted py-3">
                                <i class="fas fa-exclamation-triangle text-warning mr-2"></i>
                                Not found category.
                            </td>
                        </tr>
                    }
                    else
                    {
                        var counter = 1;
                        @foreach (var article in Model.Articles)
                        {
                            <tr>
                                <th scope="row" class="text-center align-middle">@counter</th>
                                <td class="align-middle">@article.Title</td>
                                <td class="align-middle">@article.ArticleCategury</td>
                                <td class="text-center align-middle">
                                    @if (article.IsDeleted)
                                    {
                                        <i class="fa fa-close fa-2x text-danger"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-check fa-2x text-success"></i>
                                    }
                                </td>
                                <td class="align-middle">@article.CreationDate.ToString()</td>
                                <td class="text-center align-middle d-flex justify-content-center align-items-center">
                                    <a class="btn btn-sm btn-warning mr-2" asp-page="./Edit" asp-route-id="@article.Id">Edit</a>

                                    @if (article.IsDeleted)
                                    {
                                        <form method="post" asp-page-handler="Activate" class="d-inline">
                                            <button class="btn btn-sm btn-success mr-2">Activate</button>
                                            <input type="hidden" name="id" value="@article.Id" />
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="post" asp-page-handler="Remove" class="d-inline">
                                            <button class="btn btn-sm btn-danger mr-2">Remove</button>
                                            <input type="hidden" name="id" value="@article.Id" />
                                        </form>
                                    }
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>